

.login_container{
  align-content: center;
  max-height: 900px;
  display: flex;
    /* position: absolute; */
  height: 50%;
}

.login_container h3 {
  font-size: 25px;
} 

.login_container input {
  font-size: 25px;
  /* max-height: 600px; */
}


.login{
  width: 100%;

  align-items: center;
  background-color: rgba(243, 241, 221, 0.603);
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* width: 500px; */
  /* height: 250px; */

}

.login input[ type = submit]{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(216, 21, 21);
  grid-column-start: 1;
  grid-column-end: 3;
  border-radius: 7px;
  border: 0px;
  outline: none;

}
.form_container:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
    top: -70;
    bottom: 0;
    left: 0;
}
.form_container {
  /* position: sticky; */
  /* left:200px; */
  /* z-index: 1; */
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://picsum.photos/1980/1090?random");
  /* background-color: black; */
  /* height: 100%; */
  min-height: 500px;
  /* width: 100%; */
  /* max-height: 700px; */
  background-size: cover !important;
  background-repeat: fill;
}

@media (max-height:600px) {
  .form_container{
    height: calc(100vh -75px)
  }
}

@media (max-height: 500px) {
  .form_container{
    height: calc(100vh - 75px);
  }
}

@media (max-width: 640px) {
  .form_container, .login_container, .login, .sign_up_container{
    height: calc(80vh - 75px);
  }
}

h1 {
font-size: 100px;
}


#root{
  /* height: 1080px; */
  /* background-color: black; */
}




.sign_up_container {
  align-content: center;
  max-height: 900px;
  display: flex;
}

.sign_up_container h3 {
  font-size: 25px;
  
}

.sign_up_container input {
  font-size: 25px;
  /* max-height: 600px; */
}


.sign_up {
  align-items: center;
  width: 100%;
  background-color: rgba(251, 154, 211, 0.979);
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: .8fr 400px;
  /* width: 500px; */
  /* height: 250px; */

}

.sign_up input[ type=submit] {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(148, 69, 122);
  grid-column-start: 1;
  grid-column-end: 3;
  border-radius: 7px;
  border: 0px;
  outline: none;

}