

.NavBar {
  position: sticky;
  top: 0;
  display: grid;
  grid-gap: 11px;
  /* overflow: hidden; */
  grid-template-columns: 60px 1fr auto;
  /* background-color:rgba(226, 175, 57, 0.98); */
  background-color: #efa747;
  z-index: 1;
}

.Logo {
  font-family: "hind", sans-serif;
  text-decoration: none;
  text-align: center;
  margin: .2px;


}

.Logo a {
  font-family: 'Eczar',
  serif;
  text-decoration: none;
  font-size:13px;
  font-weight: bold;
}

.SearchBar {
  background-color: rgb(250, 210, 132);
  border-radius: 4px;
  background-image: url('https://img.icons8.com/material-rounded/35/000000/google-web-search.png');
  background-position: 10px 8px;
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 40px;
  /* width: 200px; */
}


.SearchBar input {
  font-family: 'Hind', sans-serif;
  border: 0px;
  height: 50px;
  border-radius: 10px;
  text-align: left;
  align-self: center;
  padding-top: 8px;
  font-size: 25px;
  outline: none;
  background-color:rgba(250, 211, 132, 0);
  margin-right: 10px;
  margin-left: 10px;
  width: 98%;
}

.SearchBar button[type="submit"] {
  display: none;

}
  /* .SearchBar input[type = "search"]:focus  {
    width: 98%;
} */

/* .SearchBar::before{
  content: url('https://img.icons8.com/material-rounded/35/000000/google-web-search.png');
  margin-left: 10px;
  height: 36px;
  width: 36px;
} */


.Menu ul {
  display: flex;
  flex-direction: row;
  padding: 8px;
}

.Menu ul li {
  font-family: 'Hind',
  sans-serif;
  text-align: center;
  font-size: 15px;
  margin: 5px;
  padding: 5px;

}

.Menu ul li a {
  font-family: 'Eczar', serif;
  color:black;
  text-decoration: none;
}

.Menu ul li:hover {
  background-color: #EDD17099;
  border-radius: 10px;
  /* border: 1px solid black; */
  /* font-family: 'Eczar', serif; */
  text-decoration: none;
}

.Menu ul li:actibe {
  background-color: #d68c8c;
}