@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');


@media (max-width: 1515px) {
  header section {
    max-width: 100%;
  }
}

.wrapper {
  /* max-width: 1335px; */
  box-sizing: border-box;
  /* padding: 0 20px; */
  margin: auto;
}

.wrapper a {
  display: inline-block;
  margin: 5px;
}

.wrapper a:first-child {
  margin-left: 0;
}

.slider-wrapper {
  position: relative;
  height: 800px;
  overflow: hidden;
}

.slide {
  height: 800px;
  background-size: cover !important;
}

.slide::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  bottom: 0;
  left: 0;
}

.previousButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background: url('http://svgshare.com/i/41_.svg') no-repeat center center / 32px;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  cursor: pointer;
}

.previousButton:hover,
.nextButton:hover {
  background: url('http://svgshare.com/i/41_.svg') no-repeat center center / 32px;
}

.previousButton {
  left: 10px;
  -webkit-transform: rotate(180deg) translateY(calc(50% + 0px));
  transform: rotate(180deg) translateY(calc(50% + 0px));
}

.previousButton:hover {
  /* left: -10px; */
}

.nextButton {
  right: 10px;
}

.nextButton:hover {
  /* right: -10px; */
}

.slider-content {
  text-align: center;
}

.slider-content .inner {
  height: 40%;;
  /* padding: 0 70px; */
  /* box-sizing: border-box; */
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.slider-content .inner button {
  -webkit-transition-delay: .0s;
  transition-delay: 0s;
  border: 0px;
  color: rgb(255, 255, 255);
  font-size: 45px;
  background-color: rgba(239, 191, 80, 0.513);
  border-radius: 19px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  /* -webkit-tap-highlight-color: blue; */
}
.slider-content .inner button:hover {
  background-color: rgba(222, 191, 80, .8);
  font-size: 55px;
  /* -webkit-tap-highlight-color: blue; */
}

.slider-content .inner button:focus {
outline: none;
}

.slider-content .inner h1 {
  font-weight: 900;
  margin: 0 auto;
  max-width: 840px;
  color: #FFFFFF;
  font-size: 64px;
  line-height: 1;
}

.slider-content .inner p {
  color: #FFFFFF;
  font-size: 25px;
  line-height: 1.5;
  margin: 20px auto 30px;
  max-width: 640px;
}

.slider-content section {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.slider-content section span {
  color: #FFFFFF;
}

.slider-content section span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  display: inline-block;
  text-align: left;
  line-height: 1.4;
  vertical-align: middle;
  margin-left: 10px;
}

.slider-content section img {
  width: 40px;
  height: 40px;
  border: solid 2px rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  vertical-align: middle;
}

.slider-content section span strong {
  color: #FFFFFF;
  font-size: 14px;
  display: block;
}

@media (max-height: 500px) {

  .slider-wrapper,
  .slide {
    height: calc(100vh - 75px);
  }
}

@media (max-width: 640px) {
  .slider-wrapper,
  .slide {
    height: calc(80vh - 75px);
  }
}

@media (max-height: 600px) {
  .slider-content .inner h1 {
    font-size: 32px;
  }
}

@media (max-width: 640px) {
  .slider-content .inner h1 {
    font-size: 32px;
  }
}

